body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background-color: rgb(244, 243, 241);
}
:root{--left-width: 40vw;}
.sky{
position: absolute;
left: 0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
object-fit: cover;
display: block;

}
.left-side{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
width: var(--left-width);
overflow: hidden;
}

.right-side{
    margin-left: var(--left-width);
    padding: 2rem;
}
.moto{
    margin-top: 90px;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
}
form{
    padding: 10px;
    
}